<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>.</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>..</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{2,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_challengeBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{398,398}</string>
			<key>spriteSourceSize</key>
			<string>{398,398}</string>
			<key>textureRect</key>
			<string>{{1,1},{398,398}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_createBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{418,418}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{400,1},{418,418}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_dailyBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{398,398}</string>
			<key>spriteSourceSize</key>
			<string>{398,398}</string>
			<key>textureRect</key>
			<string>{{819,1},{398,398}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_fameBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{398,398}</string>
			<key>spriteSourceSize</key>
			<string>{398,398}</string>
			<key>textureRect</key>
			<string>{{1218,1},{398,398}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_featuredBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{398,398}</string>
			<key>spriteSourceSize</key>
			<string>{398,398}</string>
			<key>textureRect</key>
			<string>{{1617,1},{398,398}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_gauntletsBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{398,398}</string>
			<key>spriteSourceSize</key>
			<string>{398,398}</string>
			<key>textureRect</key>
			<string>{{2016,1},{398,398}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_highscoreBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{398,398}</string>
			<key>spriteSourceSize</key>
			<string>{398,398}</string>
			<key>textureRect</key>
			<string>{{2415,1},{398,398}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_mapPacksBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{398,398}</string>
			<key>spriteSourceSize</key>
			<string>{398,398}</string>
			<key>textureRect</key>
			<string>{{2814,1},{398,398}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_savedBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{398,398}</string>
			<key>spriteSourceSize</key>
			<string>{398,398}</string>
			<key>textureRect</key>
			<string>{{3213,1},{398,398}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_searchBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{398,398}</string>
			<key>spriteSourceSize</key>
			<string>{398,398}</string>
			<key>textureRect</key>
			<string>{{3612,1},{398,398}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_watchReplay_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{532,364}</string>
			<key>spriteSourceSize</key>
			<string>{532,364}</string>
			<key>textureRect</key>
			<string>{{4011,1},{532,364}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_weeklyBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{398,398}</string>
			<key>spriteSourceSize</key>
			<string>{398,398}</string>
			<key>textureRect</key>
			<string>{{1,420},{398,398}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boost_01_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,164}</string>
			<key>spriteSourceSize</key>
			<string>{128,164}</string>
			<key>textureRect</key>
			<string>{{400,420},{128,164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boost_02_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{122,216}</string>
			<key>spriteSourceSize</key>
			<string>{122,216}</string>
			<key>textureRect</key>
			<string>{{529,420},{122,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boost_03_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{192,216}</string>
			<key>spriteSourceSize</key>
			<string>{192,216}</string>
			<key>textureRect</key>
			<string>{{652,420},{192,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boost_04_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{250,216}</string>
			<key>spriteSourceSize</key>
			<string>{250,216}</string>
			<key>textureRect</key>
			<string>{{845,420},{250,216}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>boost_05_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,206}</string>
			<key>spriteSourceSize</key>
			<string>{256,206}</string>
			<key>textureRect</key>
			<string>{{1062,420},{256,206}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerDash2_boom2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{188,180}</string>
			<key>spriteSourceSize</key>
			<string>{188,180}</string>
			<key>textureRect</key>
			<string>{{1269,420},{188,180}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerDash2_boom2_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{242,232}</string>
			<key>spriteSourceSize</key>
			<string>{242,232}</string>
			<key>textureRect</key>
			<string>{{1450,420},{242,232}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerDash2_boom2_003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{252,264}</string>
			<key>spriteSourceSize</key>
			<string>{252,264}</string>
			<key>textureRect</key>
			<string>{{1683,420},{252,264}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,268}</string>
			<key>spriteSourceSize</key>
			<string>{256,268}</string>
			<key>textureRect</key>
			<string>{{1936,420},{256,268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{266,272}</string>
			<key>spriteSourceSize</key>
			<string>{266,272}</string>
			<key>textureRect</key>
			<string>{{2193,420},{266,272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{276,282}</string>
			<key>spriteSourceSize</key>
			<string>{276,282}</string>
			<key>textureRect</key>
			<string>{{2460,420},{276,282}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{282,286}</string>
			<key>spriteSourceSize</key>
			<string>{282,286}</string>
			<key>textureRect</key>
			<string>{{2737,420},{282,286}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{282,286}</string>
			<key>spriteSourceSize</key>
			<string>{282,286}</string>
			<key>textureRect</key>
			<string>{{3020,420},{282,286}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{282,284}</string>
			<key>spriteSourceSize</key>
			<string>{282,284}</string>
			<key>textureRect</key>
			<string>{{3303,420},{282,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portal_01_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{148,286}</string>
			<key>spriteSourceSize</key>
			<string>{148,286}</string>
			<key>textureRect</key>
			<string>{{3586,420},{148,286}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portal_02_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{148,286}</string>
			<key>spriteSourceSize</key>
			<string>{148,286}</string>
			<key>textureRect</key>
			<string>{{3735,420},{148,286}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portal_03_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{170,330}</string>
			<key>spriteSourceSize</key>
			<string>{170,330}</string>
			<key>textureRect</key>
			<string>{{3884,420},{170,330}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portal_04_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{170,330}</string>
			<key>spriteSourceSize</key>
			<string>{170,330}</string>
			<key>textureRect</key>
			<string>{{4055,420},{170,330}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portal_05_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{196,354}</string>
			<key>spriteSourceSize</key>
			<string>{196,354}</string>
			<key>textureRect</key>
			<string>{{4226,420},{196,354}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portal_06_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{196,354}</string>
			<key>spriteSourceSize</key>
			<string>{196,354}</string>
			<key>textureRect</key>
			<string>{{4423,420},{196,354}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portal_07_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{170,330}</string>
			<key>spriteSourceSize</key>
			<string>{170,330}</string>
			<key>textureRect</key>
			<string>{{4620,420},{170,330}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portal_08_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{178,344}</string>
			<key>spriteSourceSize</key>
			<string>{178,344}</string>
			<key>textureRect</key>
			<string>{{1,819},{178,344}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portal_09_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{178,344}</string>
			<key>spriteSourceSize</key>
			<string>{178,344}</string>
			<key>textureRect</key>
			<string>{{180,819},{178,344}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portal_10_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{170,330}</string>
			<key>spriteSourceSize</key>
			<string>{170,330}</string>
			<key>textureRect</key>
			<string>{{359,819},{170,330}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portal_11_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{124,348}</string>
			<key>spriteSourceSize</key>
			<string>{124,348}</string>
			<key>textureRect</key>
			<string>{{530,819},{124,348}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portal_12_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{124,348}</string>
			<key>spriteSourceSize</key>
			<string>{124,348}</string>
			<key>textureRect</key>
			<string>{{879,819},{124,348}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portal_13_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{170,330}</string>
			<key>spriteSourceSize</key>
			<string>{170,330}</string>
			<key>textureRect</key>
			<string>{{1228,819},{170,330}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portal_14_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{170,330}</string>
			<key>spriteSourceSize</key>
			<string>{170,330}</string>
			<key>textureRect</key>
			<string>{{1399,819},{170,330}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portal_15_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{162,352}</string>
			<key>spriteSourceSize</key>
			<string>{162,352}</string>
			<key>textureRect</key>
			<string>{{1570,819},{162,352}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portal_16_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{162,352}</string>
			<key>spriteSourceSize</key>
			<string>{162,352}</string>
			<key>textureRect</key>
			<string>{{1923,819},{162,352}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portal_17_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{162,352}</string>
			<key>spriteSourceSize</key>
			<string>{162,352}</string>
			<key>textureRect</key>
			<string>{{2276,819},{162,352}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spiderDash_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{872,76}</string>
			<key>spriteSourceSize</key>
			<string>{872,76}</string>
			<key>textureRect</key>
			<string>{{2629,819},{872,76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{818,82}</string>
			<key>spriteSourceSize</key>
			<string>{818,82}</string>
			<key>textureRect</key>
			<string>{{3502,819},{818,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{842,78}</string>
			<key>spriteSourceSize</key>
			<string>{842,78}</string>
			<key>textureRect</key>
			<string>{{1,1164},{842,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{850,78}</string>
			<key>spriteSourceSize</key>
			<string>{850,78}</string>
			<key>textureRect</key>
			<string>{{844,1164},{850,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{854,76}</string>
			<key>spriteSourceSize</key>
			<string>{854,76}</string>
			<key>textureRect</key>
			<string>{{1695,1164},{854,76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{854,78}</string>
			<key>spriteSourceSize</key>
			<string>{854,78}</string>
			<key>textureRect</key>
			<string>{{2550,1164},{854,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{862,76}</string>
			<key>spriteSourceSize</key>
			<string>{862,76}</string>
			<key>textureRect</key>
			<string>{{3405,1164},{862,76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{870,74}</string>
			<key>spriteSourceSize</key>
			<string>{870,74}</string>
			<key>textureRect</key>
			<string>{{1,1243},{870,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GJ_GameSheet04-uhd.png</string>
		<key>size</key>
		<string>{4800,4800}</string>
		<key>smartupdate</key>
		<string>$none</string>
		<key>textureFileName</key>
		<string>GJ_GameSheet04-uhd.png</string>
	</dict>
</dict>
</plist>
