<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>.</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>..</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{2,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_challengeBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{199,199}</string>
			<key>spriteSourceSize</key>
			<string>{199,199}</string>
			<key>textureRect</key>
			<string>{{1,1},{199,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_createBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{209,209}</string>
			<key>spriteSourceSize</key>
			<string>{209,209}</string>
			<key>textureRect</key>
			<string>{{201,1},{209,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_dailyBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{199,199}</string>
			<key>spriteSourceSize</key>
			<string>{199,199}</string>
			<key>textureRect</key>
			<string>{{411,1},{199,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_fameBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{199,199}</string>
			<key>spriteSourceSize</key>
			<string>{199,199}</string>
			<key>textureRect</key>
			<string>{{611,1},{199,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_featuredBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{199,199}</string>
			<key>spriteSourceSize</key>
			<string>{199,199}</string>
			<key>textureRect</key>
			<string>{{811,1},{199,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_gauntletsBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{199,199}</string>
			<key>spriteSourceSize</key>
			<string>{199,199}</string>
			<key>textureRect</key>
			<string>{{1011,1},{199,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_highscoreBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{199,199}</string>
			<key>spriteSourceSize</key>
			<string>{199,199}</string>
			<key>textureRect</key>
			<string>{{1211,1},{199,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_mapPacksBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{199,199}</string>
			<key>spriteSourceSize</key>
			<string>{199,199}</string>
			<key>textureRect</key>
			<string>{{1411,1},{199,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_savedBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{199,199}</string>
			<key>spriteSourceSize</key>
			<string>{199,199}</string>
			<key>textureRect</key>
			<string>{{1611,1},{199,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_searchBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{199,199}</string>
			<key>spriteSourceSize</key>
			<string>{199,199}</string>
			<key>textureRect</key>
			<string>{{1811,1},{199,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_watchReplay_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{266,182}</string>
			<key>spriteSourceSize</key>
			<string>{266,182}</string>
			<key>textureRect</key>
			<string>{{2011,1},{266,182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_weeklyBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{199,199}</string>
			<key>spriteSourceSize</key>
			<string>{199,199}</string>
			<key>textureRect</key>
			<string>{{1,211},{199,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boost_01_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{64,82}</string>
			<key>spriteSourceSize</key>
			<string>{64,82}</string>
			<key>textureRect</key>
			<string>{{201,211},{64,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boost_02_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{61,108}</string>
			<key>spriteSourceSize</key>
			<string>{61,108}</string>
			<key>textureRect</key>
			<string>{{266,211},{61,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boost_03_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{96,108}</string>
			<key>spriteSourceSize</key>
			<string>{96,108}</string>
			<key>textureRect</key>
			<string>{{328,211},{96,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boost_04_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{125,108}</string>
			<key>spriteSourceSize</key>
			<string>{125,108}</string>
			<key>textureRect</key>
			<string>{{425,211},{125,108}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>boost_05_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{128,103}</string>
			<key>spriteSourceSize</key>
			<string>{128,103}</string>
			<key>textureRect</key>
			<string>{{534,211},{128,103}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerDash2_boom2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{94,90}</string>
			<key>spriteSourceSize</key>
			<string>{94,90}</string>
			<key>textureRect</key>
			<string>{{638,211},{94,90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerDash2_boom2_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{121,116}</string>
			<key>spriteSourceSize</key>
			<string>{121,116}</string>
			<key>textureRect</key>
			<string>{{729,211},{121,116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerDash2_boom2_003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{126,132}</string>
			<key>spriteSourceSize</key>
			<string>{126,132}</string>
			<key>textureRect</key>
			<string>{{846,211},{126,132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{128,134}</string>
			<key>spriteSourceSize</key>
			<string>{128,134}</string>
			<key>textureRect</key>
			<string>{{973,211},{128,134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{133,136}</string>
			<key>spriteSourceSize</key>
			<string>{133,136}</string>
			<key>textureRect</key>
			<string>{{1102,211},{133,136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{138,141}</string>
			<key>spriteSourceSize</key>
			<string>{138,141}</string>
			<key>textureRect</key>
			<string>{{1236,211},{138,141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{141,143}</string>
			<key>spriteSourceSize</key>
			<string>{141,143}</string>
			<key>textureRect</key>
			<string>{{1375,211},{141,143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{141,143}</string>
			<key>spriteSourceSize</key>
			<string>{141,143}</string>
			<key>textureRect</key>
			<string>{{1517,211},{141,143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{141,142}</string>
			<key>spriteSourceSize</key>
			<string>{141,142}</string>
			<key>textureRect</key>
			<string>{{1659,211},{141,142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portal_01_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{74,143}</string>
			<key>spriteSourceSize</key>
			<string>{74,143}</string>
			<key>textureRect</key>
			<string>{{1801,211},{74,143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portal_02_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{74,143}</string>
			<key>spriteSourceSize</key>
			<string>{74,143}</string>
			<key>textureRect</key>
			<string>{{1876,211},{74,143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portal_03_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{85,165}</string>
			<key>spriteSourceSize</key>
			<string>{85,165}</string>
			<key>textureRect</key>
			<string>{{1951,211},{85,165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portal_04_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{85,165}</string>
			<key>spriteSourceSize</key>
			<string>{85,165}</string>
			<key>textureRect</key>
			<string>{{2037,211},{85,165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portal_05_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{98,177}</string>
			<key>spriteSourceSize</key>
			<string>{98,177}</string>
			<key>textureRect</key>
			<string>{{2123,211},{98,177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portal_06_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{98,177}</string>
			<key>spriteSourceSize</key>
			<string>{98,177}</string>
			<key>textureRect</key>
			<string>{{2222,211},{98,177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portal_07_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{85,165}</string>
			<key>spriteSourceSize</key>
			<string>{85,165}</string>
			<key>textureRect</key>
			<string>{{1,411},{85,165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portal_08_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{89,172}</string>
			<key>spriteSourceSize</key>
			<string>{89,172}</string>
			<key>textureRect</key>
			<string>{{87,411},{89,172}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portal_09_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{89,172}</string>
			<key>spriteSourceSize</key>
			<string>{89,172}</string>
			<key>textureRect</key>
			<string>{{260,411},{89,172}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portal_10_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{85,165}</string>
			<key>spriteSourceSize</key>
			<string>{85,165}</string>
			<key>textureRect</key>
			<string>{{433,411},{85,165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portal_11_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{62,174}</string>
			<key>spriteSourceSize</key>
			<string>{62,174}</string>
			<key>textureRect</key>
			<string>{{519,411},{62,174}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portal_12_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{62,174}</string>
			<key>spriteSourceSize</key>
			<string>{62,174}</string>
			<key>textureRect</key>
			<string>{{694,411},{62,174}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portal_13_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{85,165}</string>
			<key>spriteSourceSize</key>
			<string>{85,165}</string>
			<key>textureRect</key>
			<string>{{869,411},{85,165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portal_14_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{85,165}</string>
			<key>spriteSourceSize</key>
			<string>{85,165}</string>
			<key>textureRect</key>
			<string>{{955,411},{85,165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portal_15_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{81,176}</string>
			<key>spriteSourceSize</key>
			<string>{81,176}</string>
			<key>textureRect</key>
			<string>{{1041,411},{81,176}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portal_16_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{81,176}</string>
			<key>spriteSourceSize</key>
			<string>{81,176}</string>
			<key>textureRect</key>
			<string>{{1218,411},{81,176}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portal_17_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{81,176}</string>
			<key>spriteSourceSize</key>
			<string>{81,176}</string>
			<key>textureRect</key>
			<string>{{1395,411},{81,176}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spiderDash_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{436,38}</string>
			<key>spriteSourceSize</key>
			<string>{436,38}</string>
			<key>textureRect</key>
			<string>{{1572,411},{436,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{409,41}</string>
			<key>spriteSourceSize</key>
			<string>{409,41}</string>
			<key>textureRect</key>
			<string>{{1,577},{409,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{421,39}</string>
			<key>spriteSourceSize</key>
			<string>{421,39}</string>
			<key>textureRect</key>
			<string>{{411,577},{421,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{425,39}</string>
			<key>spriteSourceSize</key>
			<string>{425,39}</string>
			<key>textureRect</key>
			<string>{{833,577},{425,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{427,38}</string>
			<key>spriteSourceSize</key>
			<string>{427,38}</string>
			<key>textureRect</key>
			<string>{{1259,577},{427,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{427,39}</string>
			<key>spriteSourceSize</key>
			<string>{427,39}</string>
			<key>textureRect</key>
			<string>{{1687,577},{427,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{431,38}</string>
			<key>spriteSourceSize</key>
			<string>{431,38}</string>
			<key>textureRect</key>
			<string>{{1,619},{431,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{435,37}</string>
			<key>spriteSourceSize</key>
			<string>{435,37}</string>
			<key>textureRect</key>
			<string>{{433,619},{435,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GJ_GameSheet04-hd.png</string>
		<key>size</key>
		<string>{1,1}</string>
		<key>smartupdate</key>
		<string>$none</string>
		<key>textureFileName</key>
		<string>GJ_GameSheet04-hd.png</string>
	</dict>
</dict>
</plist>
